4.2.2.35	Beacon Packet – Posterior Vitrectomy Step – Config Payload
Config Payload (16 bytes) for Step Type = Posterior Vitrectomy.
Table 4 32: Config Payload – Posterior Vitrectomy Step
Parameter	Slot
ID	Payload
Byte	Bit	Data Type	Description
Transaction Counter	0	0	0-3	Unsigned	This field is incremented each time the data section (Bytes 1-15) of the Device Configuration frame is changed.

This field is set to 0 in NGPV.
Reserved	0	0	4-7	---	---
Region 1 Assignment	0	1	---	Unsigned	0 = None
1 = Irrigation
2 = Footswitch Position
3 = Fluidics Status
4 = CDE
5 = Step Name
6 = IOP Ramp
7 = Flow Compensation
8 = Vacuum Rise
9 = Continuous Irrigation
10 = Fluid Usage
11 = Bag Volume
12 = Connectivity Status
Region 2 Assignment	0	2	---	Unsigned	0 = None
1 = Irrigation
2 = Aspiration Rate
3 = Vacuum
4 = Longitudinal Power
5 = Torsional Amplitude
6 = Longitudinal On Time
7 = Torsional On Time
8 = Pulse Rate
Region 3 Assignment	0	3	---	Unsigned	Same as Region 1 Assignment
Region 4 Assignment	0	4	---	Unsigned	Same as Region 2 Assignment
Region 5 Assignment	0	5	---	Unsigned	Same as Region 1 Assignment
Region 6 Assignment	0	6	---	Unsigned	Same as Region 2 Assignment
Region 7 Assignment	0	7	---	Unsigned	Same as Region 1 Assignment
Region 8 Assignment	0	8	---	Unsigned	Same as Region 2 Assignment
Reserved	0	9-10	---	---	---
Illuminator Top Port Intensity	0	11	---	Unsigned	0…100 Pct
0 is Off
Illuminator Middle Port Intensity	0	12	---	Unsigned	0…100 Pct
0 is Off
Illuminator Bottom Port Intensity	0	13	---	Unsigned	0…100 Pct
0 is Off
Illuminator Top Port On	0	14	0	Bool	0 = Illuminator Top Port Off
1 = Illuminator Top Port On
Illuminator Middle Port On	0	14	1	Bool	0 = Illuminator Middle Port Off
1 = Illuminator Middle Port On
Illuminator Bottom Port On	0	14	2	Bool	0 = Illuminator Bottom Port Off
1 = Illuminator Bottom Port On
Reserved	0	14	3-7	---	---
Reserved	0	15	---	---	---
Transaction Counter	1	0	0-3	Unsigned	This field is incremented each time the data section (Bytes 1-15) of the frame is changed.

This field is set to 0 in NGPV.
Reserved	1	0	4-7	---	---
Dr Name 1 Sequence Number 	1	1	0-3	Unsigned	This field is incremented each time Dr Name 1 (first 12 bytes) is updated
Dr Name 2 Sequence Number	1	1	4-7	Unsigned	This field is incremented each time Dr Name 2 (last 3 bytes) is updated
Procedure Comment 1 Sequence Number	1	2	0-3	Unsigned	This field is incremented each time Procedure Comment 1 (first 12 bytes) is updated
Procedure Comment 2 Sequence Number	1	2	4-7	Unsigned	This field is incremented each time Procedure Comment 2 (last 6 bytes) is updated
Is CME Compliant Overlay On	1	3	0	Bool	0 = False
1 = True
Is Metrics Displayed	1	3	1	Bool	0 = False
1 = True
Is SI Units Selected	1	3	2	Bool	0 = False
1 = True
Is AutoSert In Procedure	1	3	3	Bool	0 = False
1 = True

This field is set to 0 in NGPV.
Default Cassette Type	1	3	4-7	Enum	0 = None
1 = Active Irrigation
2 = Passive Irrigation

This field is set to 1 in NGPV.
Procedure Number	1	4	0-3	Enum	Currently Selected Procedure Number
0 = Unknown
1 = Procedure #1
2 = Procedure #2
...
8 = Procedure #8

This field is set to 0 in NGPV.
FMS Status – Irrigation Bag Primed	1	4	4	Bool	0 = Irrigation Bag Not Primed
1 = Irrigation Bag Primed
Reserved	1	4	5-7	---	---
Footswitch Type	1	5	---	Enum	Supported footswitch types:
0 = No Footswitch
1 = Unsupported
2 = Accurus
3 = Infiniti
5 = Dual Linear
6 = Laureate
7 = Centurion or NGPV Anterior
8 = Constellation or NGPV Posterior
Irrigation Bag Type	1	6	0-3	Enum	0 = No Bag
1 = BSS
2 = BSS+
Cassette Type	1	6	4-7	Enum	0 = No Cassette 
1 = Active Irrigation
2 = Passive Irrigation
(3..14  Reserved) 
15 = Test Cassette
Is Active Sentry Available	1	7	0	Bool	0 = False
1 = True
Is Active Fluidics Available	1	7	1	Bool	0 = False
1 = True

This field is set to 1 in NGPV.  
Is Active Sentry Metrics Displayed	1	7	2	Bool	0 = False
1 = True
Reserved	1	7	3-7	---	---
Extended Step Name Id	1	8	---	Enum	See Appendix X for Extended Step Name ID Enumeration. 
Reserved	1	9	---	---	---
Thermal Sentry Activation (Metrics)	1	10-11	---	Unsigned	Range:0…6000
Units: count
Thermal Sentry Time On (Metrics)	1	12-13	---	Unsigned	Range:0…65535
Units: dsec
Place Holder For:
Elevated Infusion Pressure Active Time
(Metrics)	1	14-15	---	Unsigned	Range: 0…21599
Units: seconds
Posterior Vit  Cutting Time (Metrics)	2	0-1	---	Unsigned	Range:0…65535
Units: sec
Posterior Vit  Average Cut Rate (Metrics)	2	2-3	---	Unsigned	Range:0…65535
Units: cut per min
VFC Extract Active Time (Metrics)	2	4-5	---	Unsigned	Range:0…65535
Units: sec
VFC Inject Active Time (Metrics)	2	6-7	---	Unsigned	Range:0…65535
Units: sec
Scissors Active Time (Metrics)	2	8-9	---	Unsigned	Range:0…65535
Units: sec
Forceps Active Time (Metrics)	2	10-11	---	Unsigned	Range:0…65535
Units: sec
Reserved	2	12-15	---	---	--- 
Posterior Vit Cut Rate Start	3	0-1	---	Unsigned	Range: 0..330,000, 
Units: CPMCPM
Posterior Vit Cut Rate Middle	3	2-3	---	Unsigned	Range: 0..330,000, 
Units: CPMCPM 
Posterior Vit Cut Rate End	3	4-5	---	Unsigned	Range: 0..330,000,
Units: CPMCPM
Posterior Vit Mode	3	6	0-2	Enum	0: None, 
1: Continuous Cut, 
2: Momentary Cut, 
3: Single Cut, 
4: Anterior, 
5-7: Reserved for future use
Posterior Vit Enabled	3	6	3	Bool	0 = Post Vit is not enabled, 
1 = Post Vit is enabled
Reserved 	3	6	4-7	---	---
Scissors Pressure Start	3	7	---	Unsigned	Range: 0..5049, 
Unit: psi 
Note: Only applicable in Proportional
Scissors Pressure End	3	8	---	Unsigned	Range: 0..50, 
Unit: psi 
Note: Only applicable in Proportional
Scissors Mode	3	9	0-1	Enum	0: None, 
1: Proportional, 
2: Multi Cut,
3: Reserved for future use
Scissors Enabled	3	9	2	Bool	0 = Scissors is not enabled, 
1 = Scissors is enabled
Reserved 	3	9	3-7	---	---
Scissors Cut Rate Start	3	10-11	---	Unsigned	Range: 1..450, 
Unit: cut/minute 
Note: Only applicable in Multi-Cut mode
Scissors Cut Rate End	3	12-13	---	Unsigned	Range: 1..450, 
Unit: cut/minute 
Note: Only applicable in Multi-Cut mode
Reserved 	3	14-15	---	---	---
Forceps Pressure Start	4	0	---	Unsigned	Range: 0..5049, 
Unit: psi
Forceps Pressure End	4	1	---	Unsigned	Range: 0..50, 
Unit: psi
Forceps Enabled	4	2	0	Bool	0 = Forceps is disabled, 
1 = Forceps is enabled
Reserved 	4	2	1-7	---	---
Vfc Pressure End	4	3	---	Unsigned	Range: 0..80, 
Unit: psi 
Note: Only applicable in Inject mode
Vfc Vacuum End	4	4-5	---	Unsigned	Range: 0..700650, 
Unit: mmHg 
Note: Only applicable in Extract mode
Vfc Mode	4	6	0-1	Enum	0 = None, 
1 = Inject, 
2 = Extract, 
3 = Reserved for future use
Vfc Pressure Enabled	4	6	2	Bool	0 = Vfc Pressure is not enabled, 
1 = Vfc Pressure is enabled 
Note: Only applicable in Inject mode
Reserved 	4	6	3-7	---	---
Reserved 	4	7-15	---	---	---
Transaction Counter	5	0	0-3	Unsigned	This field is incremented each time the data section (Bytes 1-15) of the Primary Metrics 1 frame is changed.

This field is set to 0 in NGPV.
Reserved 	5	0	4-7	---	---
Reserved 	5	1	---	---	---
Average Longitudinal Power	5	2-3	---	Unsigned	Range:	0..1000
Units:	tenths of %
Average Longitudinal Power, FP3	5	4-5	---	Unsigned	Range:	0..1000
Units:	tenths of %
Average Torsional Amplitude	5	6-7	---	Unsigned	Range:	0..1000
Units:	tenths of %
Average Torsional Amplitude, FP3	5	8-9	---	Unsigned	Range:	0..1000
Units:	tenths of %
Equivalent Average Torsional Amplitude, FP3	5	10-11	---	Unsigned	Range:	0..1000
Units:	tenths of %
Equivalent Average Ultrasonic Power, FP3	5	12-13	---	Unsigned	Range:	0..1000
Units:	tenths of %
Phaco Energy (Metrics)	5	14-15	---	Unsigned	Range: 0..65535
Units: Deci Joules
Transaction Counter	6	0	0-3	Unsigned	This field is incremented each time the data section (Bytes 1-15) of the Primary Metrics 2 frame is changed.

This field is set to 0 in NGPV.
Reserved 	6	0	4-7	---	---
Reserved 	6	1	---	---	---
Total Longitudinal Power-On Time	6	2-3	---	Unsigned	Range:	0..65535
Units:	dsec
Total Torsional Amplitude-On Time	6	4-5	---	Unsigned	Range:	0..65535
Units:	dsec
Total US Time	6	6-7	---	Unsigned	Range:	0..65535
Units:	dsec
CDE	6	8-9	---	Unsigned	Range:	0..65535
Units:	seconds / 100
Phaco 4D Total On Time (Metrics)	6	10-11	---	Unsigned	Range:	0..65535
Units:	Deci second 
Phaco 4D Average (Metrics)	6	12-13	---	Unsigned	Range:	0..1000
Units:	tenths of %
Phaco 4D Average, FP3 (Metrics)	6	14-15	---	Unsigned	Range:	0..1000
Units:	tenths of %
Posterior Average Longitudinal Power (Metrics)	7	0-1	---	Unsigned	Range:	0..1000
Units:	tenths of %
Posterior Average Longitudinal Power, FP23 (Metrics)	7	2-3	----	Unsigned	Range:	0..1000
Units:	tenths of %
Posterior Average Torsional Amplitude (Metrics)	7	4-5	---	Unsigned	Range:	0..1000
Units:	tenths of %
Posterior Average Torsional Amplitude, FP23 (Metrics)	7	6-7	---	Unsigned	Range:	0..1000
Units:	tenths of %
Posterior Equivalent Average Torsional Amplitude, FP23 (Metrics)	7	8-9	---	Unsigned	Range:	0..1000
Units:	tenths of %
Posterior Equivalent Average Ultrasonic Power, FP23 (Metrics)	7	10-11	---	Unsigned	Range:	0..1000
Units:	tenths of %
Frag Energy	7	12-13	---	Unsigned	Range:	0..65535
Units:	Deci Joules
Reserved 	7	14-15	---	---	---
Transaction Counter	8	0	0-3	Unsigned	This field is incremented each time the data section (Bytes 1-15) of the Fluidics Settings1 frame is changed.

This field is set to 0 in NGPV.
Reflux Mode	8	0	4-5	Enum	0 = Invalid
1 = Continuous
2 = Proportional
3 = Micro
Reserved 	8	0	6-7	---	---
Range 2 ASP Start (Pump Rate)	8	1	---	Unsigned	Pump rate at start of footswitch Range 2.
Range:	0..60
Units:	cc/min
Range 2 ASP End	8	2	---	Unsigned	Pump rate at end of footswitch Range 2.
Range:	0..60
Units:	cc/min
Range 3 ASP End	8	3	---	Unsigned	Pump rate at end of footswitch Range 3.
Range:	0..60
Units:	cc/min
Range 2 Vacuum Limit Start	8	4-5	---	Unsigned	Vacuum limit for start of footswitch Range 2.
Values greater than or equal to 700 are treated as absolute (unlimited) vacuum.
Range:	0..760
Units:	mmHg
Range 2 Vacuum Limit End	8	6-7	---	Unsigned	Vacuum limit for end of footswitch Range 2.
Values greater than or equal to 700 are treated as absolute (unlimited) vacuum.
Range:	0..760
Units:	mmHg
Range 3 Vacuum Limit End	8	8-9	---	Unsigned	Vacuum limit for end of footswitch Range 3.
Values greater than or equal to 700 are treated as absolute (unlimited) vacuum.
Range:	0..760
Units:	mmHg
Range 1 IOP Setpoint Start	8	10	---	Unsigned	Range: 20..110
Units:	mmHg
Range 1 IOP Setpoint End	8	11	---	Unsigned	Range: 20..110
Units:	mmHg
Range 2 IOP Setpoint End	8	12	---	Unsigned	Range: 20..110
Units:	mmHg
Range 3 IOP Setpoint End	8	13	---	Unsigned	Range: 20..110
Units:	mmHg
Reflux Pressure End Proportional / Continuous / Continuous Reflux EndPressure	8	14	---	Unsigned	Init: 0
Range: 0:120
Unit: mmHg

Continuous pressure OR Proportional End
Micro Reflux Pressure	8	15	---	Unsigned	Range: 10:100
Unit: pct
Transaction Counter	9	0	0-3	Unsigned	This field is incremented each time the data section (Bytes 1-15) of the Fluidics Settings 2 frame is changed.

This field is set to 0 in NGPV.
Reserved 	9	0	4-7	---	---
IOP Ramp Time (Active)	9	1	---	Unsigned	Duration ( 0 = Fast)
Range:	0..20
Units:	0.1 sec
Vacuum Rise Time Multiplier (Dynamic Rise)	9	2	--	Signed	Vacuum Rise Time setting.
Range:	-2..0
Units:	N/A

This field is set to 0 in NGPV.
PEL	9	3	---	Signed	Patient Eye Level offset
Range:	-40..10
Units:	cm
Irrigation Factor Adjustment (Active)	9	4	---	Unsigned	Active Irrigation Factor Adjustment 
Range:	0-20
Units: 	0.1
Cassette Irrigation Pressure	9	5-6	---	Signed	Cassette Irrigation Pressure – PEL Adjusted 
Range:	-1100..1400
For Active Fluidics Mode:
    Units:	mmHg
For Gravity Fluidics Mode:
    Units:	cmH20
Auto PEL	9	7	0	Bool	0 = Auto PEL not enabled
1 = Auto PEL enabled 
Alternate Infusion Enabled	9	7	1	Bool	0 = Alternate Infusion not enabled
1 = Alternate Infusion enabled

Note: Only relevant for Posterior or Combined cassettes.
Infusion On	9	7	2	Bool	0 = Infusion Off
1 = Infusion On

Note: Only relevant for Posterior or Combined cassettes.
Alternate Air	9	7	3	Bool	0 = Alternate Air Off
1 = Alternate Air On

Note: Only relevant for Posterior or Combined cassettes.
Air On	9	7	4	Bool	0 = Air Off
1 = Air On

Note: Only relevant for Posterior or Combined cassettes.
Aspiration Enabled	9	7	5	Bool	0 = Aspiration is not enabled
1 = Aspiration is enabled 
Reserved 	9	7	6-7	---	---
Infusion Value	9	8	---	Unsigned	Range: 0..120
Units: mmHg

Note: Only relevant for Posterior or Combined cassettes.
Air Value	9	9	---	Unsigned	Range: 0..120
Units: mmHg

Note: Only relevant for Posterior or Combined cassettes. 
IOP Type	9	10	0-1	Enum	0 = None
1 = Infusion
2 = Irrigation
3 = Invalid

Init: None 
Aspiration Mode	9	10	2-3	Enum	0 = Invalid
1 = Flow
2 = Vacuum
3 = Invalid

Init: Flow
Intelligent Aspiration State	9	10	4-5	Enum	0 = Off
1 = Nominal
2 = Fast
3 = Maximum

Init: Off
Intelligent Detection State	9	10	6	Bool	0 = Off
1 = On
Reserved 	9	10	6-7	---	---
Diathermy Mode	9	11
	0-1	Enum	Diathermy Mode
0 : Fixed
1 : Linear
2-3 : Reserved for future use 
Diathermy Probe Connected	9	11	2	Bool	True if diathermy probe is connected.
Diathermy Momentary On 	9	11	3	Bool	True if momentary diathermy is on.
Reserved 	9	11	4-7	---	---
Diathermy Power Start	9	12
	---	Unsigned	Range: 0..100
Units: %

Diathermy Power End	9	13	---	Unsigned	Range: 0..100
Units: %

Diathermy Power 	9	14	---	Unsigned	Range: 0..100
Units: %
Reserved 	9	15	---	---	---
Transaction Counter	10	0	0-3	Unsigned	This field is incremented each time the data section (Bytes 1-15) of the Fluidics Status frame is changed.

This field is set to 0 in NGPV.
Reserved 	10	0	4-7	---	---
Reserved 	10	1	---	---	---
Irrigation Bag Empty (Active)	10	2	0	Bool	0 = Irrigation Bag Usable
1 = Irrigation Bag Empty
Continuous Irrigation Active	10	2	1	Bool	0 = Not Active
1 = Active
Reserved 	10	2	2-7	---	---
Pole Position (Passive)	10	3	---	Unsigned	Pole Position (Bottle Height) – PEL Adjusted
Range:	10..150
Units:	cm

This field is set to 10 in NGPV.
Estimated Bag Volume (Active)	10	4-5	---	Unsigned	Range:	0..750
Units:	cc
Continuous Irrigation State	10	6	0-3	Unsigned	0 = Off
1 = Paused
2 = Reserved
3 = Active
Elevated Infusion Air Timer Active	10	6	4	Bool	0 = Elevated Infusion Air Timer is not Active
1 = Elevated Infusion Air Timer is Active
Reserved 	10	6	5-7	---	---
Reserved 	10	7	---	---	---
Elevated Infusion Air Timer Time	10	8-9	---	Unsigned	Range: 0..21599
Units: Seconds
Reserved	10	10-15	---	---	---
Transaction Counter	11	0	0-3	Unsigned	This field is incremented each time the data section (Bytes 1-15) of the Fluidics Metrics frame is changed.

This field is set to 0 in NGPV. 
Reserved 	11	0	4-7	---	---
Total Aspiration Time	11	1-2	---	Unsigned	Range:	0..65535
Units:	seconds
Estimated Fluid Used	11	3-4	---	Unsigned	Estimated fluid used during aspiration
Range:	0..65535
Units:	cc
Estimated Irrigation During Aspiration	11	5-6	---	Unsigned	The value 65535 means N/A (no value).
Range:	0..65535
Units:	cc
Total Fluid Used	11	7-8	---	Unsigned	The value 65535 means N/A (no value).
Range:	0..65535
Units:	cc
ASM Actuations	11	9-10	---	Unsigned	The value 65535 means N/A (no value).
Range:	0..65535
Reserved 	11	11-15	---	---	---
Data Set 2	12-13	---	---	---	Same as Slots 0-1
Place Holder For:
Illuminator Total Thermal Time (Metrics) 	14	0-1	---	Unsigned	Range:0…65535
Units: deci sec
Place Holder For:
Illuminator Remaining Aphakic Time (Metrics) 	14	2-3	---	Unsigned	Range:0…65535
Units: deci sec
Place Holder For:
Illuminator Aphakic Ratio (Metrics) 	14	4-5	---	Unsigned	Range:0…65535 
Laser Cumulative Shot Count (Metrics)	14	6-7	---	Unsigned	Range:0…9999
Laser Total Energy (Metrics)	14	8-9	---	Unsigned	Range:0…65535
Units: deci joules
Place Holder For:
Laser Power Range Min (Metrics)	14	10-11	---	Unsigned	30…2000
Units: mW 
Place Holder For:
Laser Power Range Max (Metrics)	14	12-13	---	Unsigned	30…2000
Units: mW 
Reserved 	14	14-15	---	---	--- 
Data Set 2 	15-18	---	---	---	Same as Slots 3-6 .
Posterior Total Longitudinal Power-On Time (Metrics)	19	0-1	---	Unsigned	Range: 0..65535
Units: deci sec 
Posterior Total Torsional Amplitude-On Time (Metrics)	19	2-3	----	Unsigned	Range: 0..65535
Units: deci sec 
Posterior Total US Time (Metrics)	19	4-5	---	Unsigned	Range: 0..65535
Units: deci sec 
Posterior CDE (Metrics) 	19	6-7	---	Unsigned	Range:	0..65535
Units: centi sec
Reserved 	19	8-135	---	---	---
Phaco 4D Equivalent Average, FP3 (Metrics)	19	14-15	---	Unsigned	Range:	0..1000
Units:	tenths of %
Data Set 2	20-23	---	---	---	Same as Slots 0-11.
Transaction Counter	24	0	0-3	Unsigned	This field is incremented each time the data section (Bytes 1-15) of the Telemetry Status frame is changed.

This field is set to 0 in NGPV.
Reserved	24	0	4-7	---	---
SM Device Status Is Received	24	1	0	Bool	0 = False
1 = True
Reserved	24	1	1-7	---	---
Paired SGS ID	24	2-3	---	Unsigned	SGS Identification Number
Reserved	24	4-5	---	---	---
Paired SM ID	24	6-7	---	Unsigned	SM Identification Number
Paired SM Footswitch ID	24	8-9	---	Unsigned	SM Footswitch Identification Number
Reserved	24	10-13	---	---	---
Case Time	24	14-15	---	Unsigned	Range: 0..65535
Units: seconds

4.2.2.36	Beacon Packet – Posterior Vitrectomy Step – Status Payload
Status Payload (26 bytes) Step Type = Posterior Vitrectomy.
Table 4 33: Status Payload – Posterior Vitrectomy Step
Parameter	Slot
ID	Payload
Byte	Bit	Data Type	Description
Left Vertical Button Pressed	0-24	0	0	Bool	0 = Not Pressed
1 = Pressed
Right Vertical Button Pressed	0-24	0	1	Bool	0 = Not Pressed
1 = Pressed
Left Horizontal Button Pressed	0-24	0	2	Bool	0 = Not Pressed
1 = Pressed
Right Horizontal Button Pressed	0-24	0	3	Bool	0 = Not Pressed
1 = Pressed
Left Heel Button Pressed	0-24	0	4	Bool	0 = Not Pressed
1 = Pressed
Right Heel Button Pressed	0-24	0	5	Bool	0 = Not Pressed
1 = Pressed
Shroud Up	0-24	0	6	Bool	0 = Shroud is down
1 = Shroud is up
Reserved 	0-24	0	7	---	---
Reserved	0-24	1	0-3	---	---
Footswitch Treadle Range	0-24	1	4-5	Enum	Indicates the current footswitch treadle range.
0 : Range0
1 : Range1
2: Range2
3: Range3
Reserved 	0-24	1	6-7	---	---
Vitrectomer Enabled	0-24	2	0	Bool	0 = Disabled
1 = Enabled
Reserved 	0-24	2-3	1---	---	---
Intelligent Detection Enabled	0-24	2	2	Bool	0 = Intelligent Detection is NOT Enabled
1 = Intelligent Detection is Enabled

Determines if Intelligent Detection is enabled and value can be used.
Reserved 	0-24	2	3-7	---	---
Intelligent Detection	0-24	3	---	Unsigned	Range: 0..100%

Indication of resistance during aspiration. Higher resistance indicates a denser medium.
Cut Rate	0-24	4-5	---	Unsigned	Range:	0..30,000
Units:	CPM

2 X APM for Dual Blade Vit
Reserved 	0-24	6-139	---	---	---
Continuous Reflux Active	0-24	14	0	bool	0 = Continuous Reflux Inactive
1 = Continuous Reflux Active
Vent Active	0-24	14	1	Unsigned	0 = Venting Inactive
1 = Venting Active
Occlusion State	0-24	14	2-4	Unsigned	0 = No Occlusion
1 = Occlusion Onset
2 = Pre-Occlusion
3 = Full Occlusion
4 = Occlusion Break
5 = Break Recovery
Micro Reflux Active	0-24	14	6	bool	0 = Micro Reflux Inactive
1 = Micro Reflux Active
Reserved	0-24	14	7	---	---
Footswitch Range Penetration	0-24	15	0-6	Unsigned	Describes the penetration into the current footswitch range.
Range:	0..100
Units:	%
Reserved 	0-24	16-17	---	---	---
Footswitch Button Action	0-24	18	---	Enum	Reference:
Appendix III – Footswitch Button Action
IOP, Estimated IOP (Active Irrigation)	0-24	10	---	Unsigned	Estimated intraocular pressure.
Range:	0..255
Units:	mmHg
Reserved 	0-24	11-13	---	---	---
Reflux Active	0-24	14	0	Unsigned	0 = Reflux Inactive
1 = Reflux Active
Vent Active	0-24	14	1	Unsigned	0 = Venting Inactive
1 = Venting Active
Occlusion State	0-24	14	2-4	Unsigned	0 = No Occlusion
1 = Occlusion Onset
2 = Pre-Occlusion
3 = Full Occlusion
4 = Occlusion Break
Reserved 	0-24	14	5-7	---	---
Footswitch Range Penetration	0-24	15	0-6	Unsigned	Describes the penetration into the current footswitch range.
Range:	0..100
Units:	%
Reserved 	0-24	15	7	---	---
Proportional Reflux PressureReserved 	0-240-24	1916-18	------	Unsigned---	Range:	0..120
Units:	mmHg---
In FlowIn Flow	0-240-24	20-2119	------	SignedUnsigned	Range: -100..200
Unit: cc/minute

Actual In FlowRange: 0..60
Unit: cc/min
ASP Flow	0-24	20-21	---	Unsigned	Range: -200..200 (???)
Unit: cc/minute

Actual ASP Flow
Vacuum 	0-24	22-23	---	Signed	Range: -760..1000???
Unit: mmHg

Actual Vacuum
Posterior Actual ASP Intelligent Detection Enabled	0-240-24	24-2524	---0	SignedBool	Range: -200..200
Unit: cc/minute

Actual ASP Flow0 = Intelligent Detection is NOT Enabled
1 = Intelligent Detection is Enabled

Determines if Intelligent Detection is enabled and value can be used.
Reserved 	0-24	24	1-7	---	---
Intelligent Detection	0-24	25	---	Unsigned	Range: 0..100
Unit: %

Indication of resistance during aspiration. Higher resistance indicates a denser medium.

4.2.2.37	Beacon Packet – Posterior Vitrectomy Step – Setup Payload
Setup Payload (26 bytes) Step Type = Posterior Vitrectomy.
Table 4 34: Setup Payload – Posterior Vitrectomy Step
Parameter	Slot
ID	Payload
Byte	Bit	Data Type	Description
Reserved 	0	0	0-3	---	---
Active UVCS Footswitch Type	0	0	4-7	Enum	Type of the currently active UVCS footswitch.

Surgical Footswitch Type
0= No Footswitch
1 = Unsupported
21 : Constellation
23 : Centurion
43 : Unity 4 Button
54 : Unity 6 Button
56-15: Reserved for future use
Reserved 	0	1-2	---	---	---
Irrigation Bag Type	0	3	0-3	Enum	0 = No Bag
1 = BSS
2 = BSS+
UVCS Cassette Type	0	3	4-7	Enum	0 = No Cassette 
1 = Anterior
2 = Posterior
3 = Combined
(4..14 = Reserved for future use) 
15 = Calibration
FMS Status – Irrigation Bag Primed	0	4	0	Bool	0 = Irrigation Bag Not Primed
1 = Irrigation Bag Primed
Reserved	0	4	1-7	---	---
Vitrectomy Probe Type	0	5	0-1	Enum 	0 = None
1 = Ultra Vitrectomy
2 = Hyper Vitrectomy
3 = Invalid
Vitrectomy Probe Gauge	0	5	2-3	Enum 	0 = None
1 = 23Ga
2 = 25Ga
3 = 27Ga
Reserved 	0	5	4-7	---	---
Reserved 	0	6-25	---	---	---
Transaction Counter	1	0	0-3	Unsigned	This field is incremented each time the data section (Bytes 1-25) of the Slow Update frame is changed.

This field is set to 0 in NGPV.
Reserved	1	0	4-7	---	---
Year	1	1-2	---	Unsigned	Current Year
Range: 0..65,535
Month	1	3	---	Unsigned	Current Month 
Range:  1..12
Day	1	4	---	Unsigned	Current Day 
Range:  1..31
Hour	1	5	---	Unsigned	Current Hour
Range:  0..60
Minute	1	6	---	Unsigned	Current Minute
Range:  0..60
Second	1	7	---	Unsigned	Current Second
Range:  0..60
Reserved	1	8-25	---	---	---
Transaction Counter	2	0	0-3	Unsigned	This field is incremented each time the data section (Bytes 1-25) of the frame is changed.

This field is set to 0 in NGPV.
Reserved	2	0	4-7	---	---
Reserved	2	1	---	---	---
Dr Name 1	2	2-25	---	Unicode Char	Unicode String representing the first 12 of 15 characters of Dr Name.
Transaction Counter	3	0	0-3	Unsigned	This field is incremented each time the data section (Bytes 1-25) of the frame is changed.

This field is set to 0 in NGPV.
Reserved 	3	0	4-7	---	---
Reserved 	3	1	---	---	---
Dr Name 2	3	2-7	---	Unicode Char	Unicode String representing the last 3 of 15 characters of Dr Name.
Dr Name CRC	3	8	---	Unsigned	Lower 8 bits of the 16 bit CRC-CCITT value for Dr Name.
Reserved 	3	9-25	---	---	---
Transaction Counter	4	0	0-3	Unsigned	This field is incremented each time the data section (Bytes 1-25) of the frame is changed.

This field is set to 0 in NGPV.
Reserved 	4	0	4-7	---	---
Reserved 	4	1	---	---	---
Procedure Comment 1 Part 1	4	2-25	---	Unicode Char	Unicode String representing the first 12 of 18 characters of Procedure Comment.
Transaction Counter	5	0	0-3	Unsigned	This field is incremented each time the data section (Bytes 1-25) of the frame is changed.

This field is set to 0 in NGPV.
Reserved 	5	0	4-7	---	---
Reserved 	5	1	---	---	---
Procedure Comment 1 Part 2	5	2-13	---	Unicode Char	Unicode String representing the last 6 of 18 characters of Procedure Comment.
Procedure Comment 1 CRC	5	14			Lower 8 bits of the 16 bit CRC-CCITT value for Procedure Comment 1.
Procedure Number	5	15	0-3	Enum	Currently Selected Procedure Number
0 = Unknown
1 = Procedure #1
2 = Procedure #2
...
8 = Procedure #8

This field is set to 0 in NGPV.
Reserved 	5	15	4-7	---	---
Reserved 	5	16-25	---	---	---
Reserved 	6	0-1	---	---	---
Vit Probe Description 1
	6	2-25	---	Unicode Char	Unicode String representing the first 12 of 24 characters of Vit Probe Description.
Reserved 	7	0	---	---	---
Vit Probe Description CRC	7	1	---	Unsigned	Lower 8 bits of the 16 bit CRC-CCITT value for Vit Probe Description
Vit Probe Description 2
	7	2-25	---	Unicode Char	Unicode String representing the last 12 of 24 characters of Vit Probe Description.
Reserved 	8	0-1	---	---	---
Laser Probe Description 1
	8	2-25	---	Unicode Char	Unicode String representing the first 12 of 24 characters of Laser Probe Description.
Reserved 	9	0	---	---	---
Laser Probe Description CRC	9	1	---	Unsigned	Lower 8 bits of the 16 bit CRC-CCITT value for Laser Probe Description
Laser Probe Description 2
	9	2-25	---	Unicode Char	Unicode String representing the last 12 of 24 characters of Laser Probe Description.
Reserved 	10	0-1	---	---	---
MSLP Probe Description 1
	10	2-25	---	Unicode Char	Unicode String representing the first 12 of 24 characters of MSLP Probe Description.
Reserved 	11	0	---	---	---
MSLP Probe Description CRC	11	1	---	Unsigned	Lower 8 bits of the 16 bit CRC-CCITT value for MSLP Probe Description
MSLP Probe Description 2
	11	2-25	---	Unicode Char	Unicode String representing the last 12 of 24 characters of MSLP Probe Description.
Data Set 2	12-17	---	---	---	Same as Slots 0-5.
Reserved	18	0-1	---	---	---
Top Illumination Probe Description 1
	18	2-25	---	Unicode Char	Unicode String representing the first 12 of 24 characters of Illumination Probe Description connected to the top port.
Reserved 	19	0	---	---	---
Top Illumination Probe Description CRC
	19	1	---	Unsigned	Lower 8 bits of the 16 bit CRC-CCITT value for Illumination Probe Description connected to the top port.
Top Illumination Probe Description 2
	19	2-25	---	Unicode Char	Unicode String representing the last 12 of 24 characters of Illumination Probe Description connected to the top port.
Reserved 	20	0-1	---	---	---
Middle Illumination Probe Description 1
	20	2-25	---	Unicode Char	Unicode String representing the first 12 of 24 characters of Illumination Probe Description connected to the middle port.
Reserved 	21	0	---	---	---
Middle Illumination Probe Description CRC 	21	1	---	Unsigned	Lower 8 bits of the 16 bit CRC-CCITT value for Illumination Probe Description connected to the middle port.
Middle Illumination Probe Description 2 	21	2-25	---	Unicode Char	Unicode String representing the last 12 of 24 characters of Illumination Probe Description connected to the middle port.
Reserved 	22	0-1	---	---	---
Bottom Illumination Probe Description 1 	22	2-25	---	Unicode Char	Unicode String representing the first 12 of 24 characters of Illumination Probe Description connected to the bottom port.
Reserved 	23	0	---	---	---
Bottom Illumination Probe Description CRC 	23	1	---	Unsigned	Lower 8 bits of the 16 bit CRC-CCITT value for Illumination Probe Description connected to the bottom port.
Bottom Illumination Probe Description 2 	23	2-25	---	Unicode Char	Unicode String representing the last 12 of 24 characters of Illumination Probe Description connected to the bottom port.
Reserved 	24	0-25	---	---	---
